@inherits LayoutComponentBase
@namespace WebStream.Components

<PageTitle>WebStream</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<main>
    <article class="">
        @Body
    </article>
</main>
