@page "/"

<PageTitle>Home</PageTitle>

<div class="w-full h-screen flex flex-col">
    <div class="w-full flex justify-center">
        <h1 class="text-4xl text-red-500">Welcome To WebStream</h1>
    </div>
    <div class="w-full flex-1 flex justify-center items-center gap-5">
        <MudButton Href="/stream" Variant="Variant.Outlined" Color="Color.Primary">Create New Channel</MudButton>
        <EnterCodeModal />
    </div>
</div>
